.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.container-fluid {
    background-color: red;
}



.enlacesContainer a {
    color: white;
    text-decoration: none;
}

.body {
    background-color: black;
    margin: 0px 50px;
}


/* Navbar */

.navContainer {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.enlacesContainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* estilos en categoria de skins */


.categoryButton {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(100, 100, 100, .3);
    border-left: none;
    border-right: none;
    border-top: none;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid rgb(96, 160, 255);
    

}
.hide {
    display: none;
}


.categoryContainer {
    background: black;
    width: 20%;
}

.categoryContainer h2 {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}



/* estilos en lista de skins */

.cardContainer {
    width: 80%;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.596);
}

.skinCard {
    background-color: rgb(231, 229, 229);
    border-radius: 20px;

}

.cardName {
    text-align: center;
    color: black;
    font-size: 0.9rem;
}

.cardPrice {
    text-align: center;
    color: black;
    font-size: 1.2rem;
}

.cardFloat {
    text-align: center;
    color: black;
    font-size: 0.6rem;
}


.imgPortada {
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.searchContainer{
    margin: 1em 0;
}

.searchContainer input{
    background-color: transparent;
    color: white;
    width: 30%;
    border-bottom: 2px solid rgb(81, 186, 255);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 0.6em 0.3em;
}


.searchContainer button {
   padding: 0.6em 1.2em;
   margin-left: 1em;
   background-color: rgb(81, 186, 255);
   color: rgba(255, 255, 255, 0.863);
   border-radius: 5px;
   margin-top: 0.5em;
}